worker_processes  auto;

events {
    worker_connections  128;
}

http {
    upstream led-strip-server {
        server 127.0.0.1:7305;
    }

    include                 mime.types;
    default_type            application/octet-stream;

    sendfile                on;
    keepalive_timeout       65;
    client_max_body_size    16M;

    index                   index.html index.htm;

    access_log              /var/log/nginx/default/access.log;
    error_log               /var/log/nginx/default/error.log;

    server {
        listen                          [::]:80;
        listen                          80;

        server_name                     colorpi;

        client_max_body_size            4g;

        root                            /srv/http/;

        location /ws {
            proxy_set_header            Host {{ hostname }};
            proxy_set_header Upgrade    $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_pass                  http://led-strip-server/;
        }
    }
}
